@media all and (min-width:62em){body{background:#fff;}}
div.page{max-width:62em;margin-left:5px;margin-right:auto;font-size:16px;font-family:Arial,Helvetica,Verdana,Tahoma,Sans,sans-serif;background:#fff}
a:link{color:#00f;text-decoration:none}
a:active{color:red;text-decoration:none}
a:visited{color:#30f;text-decoration:none}
a:hover{color:red;text-decoration:none}
h1{font-size:22px;font-family:Helvetica,Arial;margin-top:14px;margin-bottom:14px}
h2{font-size:19px;font-family:Helvetica,Arial;margin-top:10px;margin-bottom:8px}
h3{font-size:17px;font-family:Helvetica,Arial;margin-top:8px;margin-bottom:6px}
h4{font-size:16px;font-family:Helvetica,Arial;margin-top:6px;margin-bottom:4px}
small{font-size:14px}
ul{list-style-type:none;margin:0;padding:0}
li{padding:5px}
input[type="button"] {border:1px solid;cursor:pointer;background-color:#E0FFFF}
input[type="submit"] {background-color:#E0FFFF}
select{font-size:16px;background-color:#E0FFFF;}
select:-ms-expand {display: none;}
input[type="radio"]{width:16px;height:16px;cursor:pointer;}
input[type="checkbox"] {width:19px;height:19px;outline:1px solid;margin-top:8px;margin-bottom:-3px;background:#E0FFFF;-webkit-appearance:none;-moz-appearance:none;}
input[type="checkbox"]:checked:after {font-size:14px;content:"\2714";padding-left:3px;}
input{font-size:16px;background:#fff}
option{font-size:16px;background:#fff}
table.c{width:100%}
table.amazon{width:124px;border:1px solid;margin-left:10px;border-spacing:0;border-collapse:collapse}
td.c{vertical-align:top;text-align:center;background-color:#fff;padding:4px;}
td.r{vertical-align:top;text-align:right;background-color:#fff}
td.amazon{font-size:11px;vertical-align:top;text-align:center;background-color:#fff}
span.ol{font-size:15px;font-family:Arial,Helvetica;text-decoration:overline}
span.Haupt{margin-left:auto;margin-right:auto;font-family:"Times New Roman",Times,serif;font-weight:bold;font-size:29px;}
img{border:0}
img.a{width:100%;height:auto;min-width:80px;max-width:200px}
img.b{width:100%;height:auto;min-width:70px;max-width:170px}
img.center{display:block;margin-left:auto;margin-right:auto}
img[src="/img/help.gif"]{width:24px;height:30px;vertical-align:middle;}
img[src="/img/menuicon.png"]{width:26px;height:26px;cursor:pointer;vertical-align:middle;}
img[src="/img/closeicon.png"]{width:26px;height:26px;cursor:pointer;vertical-align:middle;}
img[src="/img/fractal_logo.png"]{width:38px;height:33px;vertical-align:middle;}
math{display:inline-block;font-size:120%}
span.b{padding:8px;font-size:20px;}
.group:after,[class*=colgroup]:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.col{position:relative}
.col:first-child{margin-top:0}
@media all and (min-width:700px){[class*=colgroup] .col{float:left;width:47%;margin-left:4%}[class*=colgroup] .col:nth-of-type(2n+1),.colspan-2+.col{clear:left;margin-left:0}.colgroup-1 .col{width:100%;float:none;margin-left:0}}