@media all and (min-width:60em){body{background:#ededed;margin-top:0}
div.page{max-width:60em;margin-left:30px;margin-right:auto;padding-left:10px;padding-right:10px;padding-top:6px;font-size:16px;font-family:Arial,Helvetica,Verdana,Tahoma,Sans,sans-serif;background:#fff}}
@media all and (max-width:60em){div.page{margin-left:auto;margin-right:auto;font-size:16px;font-family:Arial,Helvetica,Verdana,Tahoma,Sans,sans-serif;background:#fff}}
A:link{color:#00f;text-decoration:none}
A:active{color:red;text-decoration:none}
A:visited{color:#30f;text-decoration:none}
A:hover{color:red;text-decoration:none}
h2{font-size:24px;font-family:Helvetica,Arial}
h3{font-size:22px;font-family:Helvetica,Arial}
h4{font-size:20px;font-family:Helvetica,Arial;margin-top:5px;margin-bottom:15px}
small{font-size:14px}
ul{list-style-type:none;margin:0;padding:0}
#menu ul>li{padding:6px}
input[type=button] {background-color:#E0FFFF}
input[type=checkbox] {width:17px;height:17px;outline:2px solid;margin-top:8px;margin-bottom:-2px;background:white;-webkit-appearance:none;-moz-appearance:none;}
input[type=checkbox]:checked:after {font-size:14px;content:"\2714";}
input{font-size:16px;background:#fff}
option{font-size:16px;background:#fff}
table.c{width:100%}
table.amazon{width:124px;border:1px solid;margin-left:10px;border-spacing:0;border-collapse:collapse}
td.c{vertical-align:top;text-align:center;background-color:#fff}
td.r{vertical-align:top;text-align:right;background-color:#fff}
td.amazon{font-size:11px;vertical-align:top;text-align:center;background-color:#fff}
span.ol{font-size:15px;font-family:Arial,Helvetica;text-decoration:overline}
img{border:0}img.a{width:100%;height:auto;min-width:90px;max-width:200px}
img{border:0}img.b{width:100%;height:auto;min-width:80px;max-width:120px}
img.center{display:block;margin-left:auto;margin-right:auto}
.group:after,[class*=colgroup]:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.col{position:relative}
.col:first-child{margin-top:0}
@media all and (min-width:45em){[class*=colgroup] .col{float:left;width:47.5%;margin-left:3%}[class*=colgroup] .col:nth-of-type(2n+1),.colspan-2+.col{clear:left;margin-left:0}.colgroup-1 .col{width:100%;float:none;margin-left:0}}