table#suguru {
	border-spacing: 0;
	border: 2px solid black;
}

table#suguru tr:first-of-type td {
	border-top: none;
}

table#suguru tr:last-of-type td {
	border-bottom: none;
}

table#suguru tr td:first-of-type {
	border-left: none;
}

table#suguru tr td:last-of-type {
	border-right: none;
}

table#suguru td {
	font-size: 1.5em;
	box-sizing: border-box;
	border: 1px solid lightgrey;
	text-align: center;
	border-style: outset;
}

table#suguru td.border-left {
	border-left: 2px solid black;
}

table#suguru td.border-top {
	border-top: 2px solid black;
}

table#suguru td.border-right {
	border-right: 2px solid black;
}

table#suguru td.border-bottom {
	border-bottom: 2px solid black;
}

table#suguru td.invalid {
	outline: 3px dashed red;
	outline-offset: -6px;
}
table#suguru td.active {
	outline: 3px dashed blue;
	outline-offset: -6px;
}
table#suguru td.activewhite {
	outline: 3px dashed white;
	outline-offset: -6px;
}
table#suguru td.mark {
	opacity:0.5;
	font-weight:bold;
}
button {font-size:100%;border:1px solid;cursor:pointer;background-color:#E0FFFF}
button[id="SF"] {font-size:120%;vertical-align:middle}
button[id="backButton"] {font-size:120%;vertical-align:middle;margin-left:12px}
input[type=number] {width:1.8em;font-size:100%;}
input[type="button"] {font-size:100%;min-width:2.5em;margin-right:8px;margin-bottom:8px;}
input.infobut {font-size:90%}
select{font-size:95%}
input[type="checkbox"] {vertical-align:middle}